<div class="line">
<%= form.label :name, "Название страницы" %>
<%= form.text_field :name %>
</div>
<div class="line">
<%= form.label :is_visible, "Показывать?" %>
<%= form.check_box :is_visible %>
</div>
<div class="line">
<%= form.label :is_menu, "Добавить в меню" %>
<%= form.check_box :is_menu %>
</div>
<hr />
<div class="line">
<%= form.label :title_ua, "Заголовок (украинский)" %>
<%= form.text_field :title_ua %>
</div>
<div class="line">
<%= form.label :link_name_ua, "Название для ссылки (украинский)" %>
<%= form.text_field :link_name_ua %>
</div>
<div class="line">
<%= form.label :description_ua, "Текст (украинский)" %>
<%= form.text_area :description_ua %>
</div>
<hr />
<div class="line">
<%= form.label :title_ru, "Заголовок (русский)" %>
<%= form.text_field :title_ru %>
</div>
<div class="line">
<%= form.label :link_name_ru, "Название для ссылки (русский)" %>
<%= form.text_field :link_name_ru %>
</div>
<div class="line">
<%= form.label :description_ru, "Текст (русский)" %>
<%= form.text_area :description_ru %>
</div>
<hr />
<div class="line">
<%= form.label :title_en, "Заголовок (английский)" %>
<%= form.text_field :title_en %>
</div>
<div class="line">
<%= form.label :link_name_en, "Название для ссылки (английский)" %>
<%= form.text_field :link_name_en %>
</div>
<div class="line">
<%= form.label :description_en, "Текст (английский)" %>
<%= form.text_area :description_en %>
</div>