<div style="width:350px;float:left;">
<h1>Edit test</h1>
<div class="admin-form">
Web test: <strong><%=h @web_test.name %></strong>
<div class="line submit" style="margin:20px 0;">
<% if !@web_test.launched? %>
	<% form_tag start_web_test_path do |f| %>
		<%= hidden_field_tag :id, @web_test.id %>
		<%= submit_tag "Begin testing"%>
	<% end %>
<% else %>
	<% if @web_test.resulted_at %>
		<%=link_to "Show results", web_test_statistic_path(:web_test_id => @web_test.id)%>
	<% else %>
		Start testing... waiting...
	<% end %>
<% end %>
</div>
</div>
<br />
<br />
<%= link_to "Back", web_test_index_path %>
</div>

<div style="float:left;">
<h1>Tasks</h1>
<ul id="sort_box">	
<% @web_test.web_tasks.each do |web_task|%>
	<li id="sort_box_li_<%=web_task.id%>">
	<table class="admin" style="cursor:pointer;cursor:hand;">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Url</th>
			<th>Method</th>
			<th>Count</th>
			<th></th>
		</tr>
		<tr>
			<td><%=web_task.id%></td>
			<td><%=h web_task.name%></td>
			<td><%=h web_task.url %></td>
			<td><%= web_task.http_method_name %></td>
			<td><%= web_task.count_repeat %></td>
			<td><%=link_to "Edit", edit_web_test_web_task_path(:id => web_task.id, :web_test_id => web_task.web_test_id)%> | <%= link_to 'Delete', web_test_web_task_path(:id => web_task.id, :web_test_id => web_task.web_test_id), :confirm => 'Delete?', :method => :delete %></td>
		</tr>
	</table>
	</li>
<% end %>	
</ul>
<%=link_to "Add", new_web_test_web_task_path(:web_test_id => @web_test.id) %>
</div>


<script type="text/javascript">
Event.observe(window, 'load', function(){
	Sortable.create("sort_box", {
        tag: 'li',
        onUpdate: function(){
			new Ajax.Request("/web_test/<%=@web_test.id%>/web_task/sort",{ method: "post", postBody: Sortable.serialize('sort_box')});
		}  
    });
});
</script>